.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-right: -10px;
  margin-bottom: -10px;
  list-style: none;
}

.languageItem {
  padding: 2px 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #f1f8ff;
  border-radius: 3px;
  color: #0366d6;
}
